* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav,
main,
header {
  margin: 1rem;
}

a {
  color: black;
}

.links a {
  display: block;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

a,
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.links {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.email {
  display: inline;
  text-decoration: underline;
}

ol {
  margin-left: 1.5rem;
}
